
.leaflet-numbered-icon {
    background: transparent;
    border: none;
}

.leaflet-marker-icon .number{
    position: relative;
    top: -44px;
    font-size: 15px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    opacity: 1;
}